.btn-primary {
    background-color: #338A4B!important;
}

.bg-primary {
    background-color: #338A4B!important;
}

.bg-secondary {
    background-color: #2C643C!important;
}

.bg-success {
    background-color: #241C1C!important;
}

.bg-light {
    background-color: #284830!important;
}

.bg-dark {
    background-color: #24342C!important;
}